version: '3.8'
services:
  cloudflare-speedtest:
    build: .
    container_name: cloudflare-speedtest
    restart: unless-stopped
    ports:
      - "2028:2028"
    volumes:
      - ./data:/app/data
      - ./app/app.py:/app/app.py
      - ./app/templates:/app/templates
      - ./cloudflare_speedtest.py:/app/cloudflare_speedtest.py
    environment:
      - TZ=Asia/Shanghai
